@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@400;600;700&family=Barlow:wght@400;500;600;700&family=Bellefair&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

/* * styles for next and previous button in slideshow for crew page */

.swiper-button-next {
  @apply bg-right-arrow bg-contain bg-center bg-no-repeat after:hidden;
}

.swiper-button-prev {
  @apply -scale-100 bg-right-arrow bg-contain bg-center bg-no-repeat after:hidden;
}

/*  for the gap between bullets */
.swiper-pagination {
  @apply flex justify-center gap-4 lg:gap-5;
}

/* *for the height and width of bullets */
.swiper-pagination-bullet {
  /* * height and width was not taking any effect so checked the value of css variables that is used to give value*/
  --swiper-pagination-bullet-height: 1rem;
  --swiper-pagination-bullet-width: 1rem;
}

/* *for changing the color of inactive bullets */
.swiper-pagination-bullet {
  --swiper-pagination-bullet-inactive-color: #979797;
}

/* *for changing the color of active bullets */
.swiper-pagination-bullet-active {
  --swiper-pagination-color: #fff;
}

@media (min-width: 64em) {
  .swiper-pagination-bullet {
    --swiper-pagination-bullet-height: 1.25rem;
    --swiper-pagination-bullet-width: 1.25rem;
  }
}
