@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@400;600;700&family=Barlow:wght@400;500;600;700&family=Bellefair&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
  --swiper-theme-color: #fff !important;
  --swiper-pagination-bullet-size: 1rem !important;
  --swiper-navigation-size: 1.25rem !important;
  --swiper-navigation-color: #0b0d17 !important;
}

.swiper-pagination-bullet {
  border-width: 1px;
  border-color: rgb(255 255 255);
}
.swiper-button-next,
.swiper-button-prev {
  width: calc(2 * var(--swiper-pagination-bullet-size)) !important;
  height: calc(2 * var(--swiper-pagination-bullet-size)) !important;
}

@media (min-width: 64em) {
  :root {
    --swiper-pagination-bullet-size: 5rem !important;
  }
}
