@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@400;600;700&family=Barlow:wght@400;500;600;700&family=Bellefair&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.swiper-button-next {
  background-image: url(/crew/right-arrow-.svg);
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center;
}

.swiper-button-next::after {
  display: none;
}

.swiper-button-prev {
  background-image: url(/crew/right-arrow-.svg);
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center;
  transform: scale(-1);
}

.swiper-button-prev::after {
  display: none;
}

.swiper-pagination-bullets {
  position: static;
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

@layer components {
  .swiper-pagination {
    @apply absolute -bottom-4 flex gap-4;
  }
}
